.progress-bar {
    position: relative;
    height: 2.5rem;
    width: 175px;
    border-radius: 50px;
    border: 1px solid #333;
}

.filler {
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
    min-width: 50px;
}

.text {
    line-height: 2.5rem;
    text-align: center;
    min-width: 70%;
    font-style: italic;
}